

<h1 class="page-title"><%= @tag.name %></h1>

<% if @tag.articles.exists? %>
    <% @tag.articles.each do |article| %>
            <div class="card col-lg-5 col-sm-10 mb-4 shadow-sm mx-auto p-0">
                <% if article.image? %>
                    <%= image_tag article.image.thum.url, class:"thumb" %>
                <% end %>
                <div class="p-3">
                    <h2 class="card-article-title"><%= link_to article.title, article_path(article)%></h2>
                    <p class="card-article-user"><%= link_to article.user.username, user_path(article.user_id) %></p>
                    <p class="card-article-date"><%= article.created_at.strftime("%B %d, %Y") %></p>
                    <p class="card-article-body"><%= article.body.truncate(120) %></p>
                    <p class="card-article-comment"><%= pluralize(article.comments.count, "comment") %></p>
                </div>
            </div>
    <% end %>
<% else %>
    <p>There is no posts in this tag.</p>
<% end %>

<%= link_to 'Back to All Tags', tags_path, class: "btn btn-secondary" %>