<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topbar d-none d-md-flex">
      <%= link_to "Dive into Miyazaki", root_path, class: 'topbar-logo' %>
      <ul class="topbar-items">
        <li class="topbar-item"><%= link_to "All Posts", articles_path %></li>
        <li class="topbar-item"><a href="">Categories</a></li>
        <li class="topbar-item"><%= link_to "All Members", users_path %></li>
        <% if user_signed_in? %>
          <li class="topbar-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="topbar-item"><%= link_to "Sign up", new_user_registration_path %></li>
          <li class="topbar-item"><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <header class="mb-5 d-flex justify-content-center flex-column align-items-center">
        <div class="text-center">
          <%= link_to "Dive into Miyazaki", root_path, class: "text-white cover-logo" %>
          <p class="cover-desc">The more you know Miyazaki,<br>the more you want to know this place.</p>
        </div>
    </header>

    <main class="container mb-5">
      <%= yield %>
    </main>

    <footer>
      <p class="link-logo">
        <a href="https://www.pref.miyazaki.lg.jp/">
          <%= image_tag 'miyazaki-logo.jpg' %>
        </a>
      </p>
      <p class="copyright">Copyright © 2020 diveintomiyazaki.com</p>
    </footer>
  </body>
</html>
