<!DOCTYPE html>
<html>
  <head>
    <title>TravelWithMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mb-5 border-bottom shadow-sm d-flex justify-content-between align-items-center p-3 bg-primary">
        <div class="h4 mb-0"><%= link_to "Travel with Me", root_path, class: "text-white" %></div>

        <nav>
          <%# if user_signed_in? %>
            <%#= link_to "Add vocab", new_user_vocab_path(current_user), class: "text-white p-2" %>
            <%#= link_to "All vocabs", root_path, class: "text-white p-2" %>
            <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-white p-2" %>
            <%#= link_to current_user.username, users_url, class: "text-white p-2" %>
          <%# else %>
            <%#= link_to "Sign up", new_user_registration_path, class: "text-white p-2" %>
            <%#= link_to "Login", new_user_session_path, class: "text-white p-2" %>
          <%# end %>
        </nav>
          
    </header>

    <main class="container mb-5">
      <%= yield %>
    </main>

    <footer class="bg-primary text-center text-white py-3">
      <small>Copyright © travelwithme, Inc.</small>
    </footer>
  </body>
</html>
